<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSME refund policy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <%- include ./navbar %>
        <div class="card" style="margin-top: 20px;margin-bottom: 20px;">
            <div class="card-header">
                Refund Policy
            </div>
            <div class="card-body">
                <p>
                    1. REFUND OF PAYMENT RECEIVED
                    For any reason if your business cannot be registered in MSME and not able to provide you MSME certificate then 100% of money will be refunded in the same mode you have paid.
                </p>
                <p>
                    2. REFUND REQUEST
                    Refund request can be send at contact@beliveapplications@gmail.com Refund request can be made within 10 days of online application made.
                </p>
                <p>
                    3. REFUND TIME FRAME
                    We will process your refund request within 10 to 15 business days of receiving all the information required for processing refund like reason for refund, bank details for processing request, etc.
                </p>
                <p>
                    4. CANCELLATION OF APPLICATION
                    You cannot cancel the registration once applied. No Refund will be provided once the application is done and MSME Certificate is issued.
                </p>
                <p>
                    5. ISSUANCE OF MSME CERTIFICATE
                    MSME Registration certificate Applied online, will be delivered within 24 hours to the Email Id provided in the online application form.
                </p>
                <p>
                    6. CLARIFICATION ABOUT APPLICATION
                    If you have any query about application process, you can write us mail @ contact@beliveapplications@gmail.com. In case we need any additional clarification about your business activity our team will reach you by email or call
                </p>
                <p>
                    7. FORCE MAJEURE
                    beliveapplications@gmail.com. shall not be considered in breach of its Satisfaction Guarantee policy or default under any terms of service, and shall not be liable to the Client for any cessation, interruption, or delay in the performance of its obligations by reason of earthquake, flood, fire, storm, lightning, drought, landslide, hurricane, cyclone, typhoon, tornado, natural disaster, act of God or the public enemy, epidemic, famine or plague, action of a court or public authority, change in law, explosion, war, terrorism, armed conflict, labor strike, lockout, boycott or similar event beyond our reasonable control, whether foreseen or unforeseen (each a “Force Majeure Event”).
                </p>
            </div>
        </div>
        <%- include ./bottom %>  
    </div>    
</body>
</html>